/* H1 & H2 styling */
h1::before {
  display: inline-block;
  width: 20px;
  height: 2px;
  margin-right: 10px;
  content: "";
  vertical-align: middle;
  background-color: black;
}

h1:after {
  content: " ★";
  color: orange;
}

h2:not("title") {
  color: skyblue;
}

/* Ul & li styling with selectors */
li {
  padding: 5px 2px;
}

li:nth-child(odd) {
  background-color: silver;
  color: blue;
  margin: 0 auto;
}

li:nth-child(even) {
  background-color: skyblue;
  color: black;
  margin: 0 auto;
}

li:first-child {
  color: crimson;
}
li:last-child {
  color: darkviolet;
}

li::after {
  content: " ★";
  color: orange;
  font-size: 25px;
}

/* Button styling */

button:hover {
  transform: scale(1.05);
  padding: 0px 25px;
}

/* Section styling */

.highlighted {
  padding: 2px;
}
.highlighted::before {
  content: "[";
}
.highlighted::after {
  content: "]";
}
/*  highlighted div selector child styling */
.highlighted div:last-child {
  background-color: rgb(195, 189, 189);
  padding: 10px;
}
/* TextArea styling */

textarea:hover {
  border: 2px solid black;
}
